.inicial {
    text-align: center;
    font-family: 'Newsreader', serif;
    font-size: 20px;
    margin: 0 auto;
}

.titulo {
    border-bottom: 2px solid rgb(255, 255, 255);
    text-align: center;
    margin-left: 35px;
}

.navegação li {
    list-style: none;
    display: inline;
    margin: 0 20px 0 20px;
    text-align:center;
}

.inicial .fatos {
    float:left;
    font-weight: 400;
}

.fatos {
    text-align: center;
}

.bloco_principal {
    background-color: rgb(219, 212, 206);
    margin: 0 auto;
    width: 800px;
    height: 3000px;
    display: inline-block;
}

.perfil {
    height: 250px;
    width: 280px;
    margin-right: 5px;
    background-color: rgb(219, 212, 206);
    display: inline-block;
    float: left;
}

.perfil h2 {
    text-align: center;
    text-decoration: underline;
}

.perfil li {
    list-style: none;
    font-weight: 500;
    margin-right: 40px;
}

.primeira_sessão {
    text-align: left;
    margin: 0 auto;
}

.primeira_sessão h1 {
    text-align: center;
}

#fato1 {
    text-align: center;
    font-weight: 500;
}

#fato2 {
    text-align: center;
    font-weight: 500;
    margin-top: 50px;
}

#fato3 {
    text-align: center;
    font-weight: 500;
}

#primeira_foto {
    width: 250px;
    margin-top: 5px;
    margin-right: 8px;
    float: left;
}

#artigo1 {
    width: 750px;
    height: 200px;
    margin-left: 8px;
    text-align:justify;

}

#segunda_foto {
    width: 250px;
    margin-top: 50px;
    margin-left: 8px;
    float: right;
}
#artigo2 {
    width: 750px;
    height: 200px;
    margin-left: 10px;
    text-align:justify; 
}

#terceira_foto {
    width: 250px;
    margin-top: 30px;
}

#artigo3 {
    text-align: justify;
    width: 750px;
    height: 200px;
    margin-left: 10px;
}
