.prima:hover{
    border: solid 5px red;
}
.prima{
    color: blue;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.secun{
    color: red;
    font-size: 40px;
    font-family: cursive;
}
.secun:hover{
    border: solid 5px chartreuse;
}

.comple{
    color: chartreuse;
    font-size: 70px;
    font-family: fantasy;
}
.comple:hover{
    border: solid 5px forestgreen;
}

.escu{
    color: darkblue;
    font-size: 20px;
    font-family: monospace;
}
.escu:hover{
    border: solid 5px coral;
}

.clara{
    color: darkorange;
    font-size: 10px;
    font-family: sans-serif;
}
.clara:hover{
    border: solid 5px rosybrown;
}

h3{
    font-style: italic;
}